* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background: #111827;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.logo {
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.logo span {
  font-size: 20px;
}

.workspace {
  border: 1px solid #374151;
  border-radius: 15px;
  padding: 14px;
  margin-bottom: 30px;
}

.workspace > span {
  color: #9ca3af;
  font-size: 14px;
}

.workspace-name {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 17px;
  font-weight: bold;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-link {
  text-decoration: none;
  color: #d1d5db;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 13px 15px;

  border-radius: 8px;

  transition: 0.2s;
}

.sidebar-link:hover {
  background: #272a3a;
  color: white;
}

.sidebar-link.active {
  background: #635bff;
  color: white;
}
.main-content {
  margin-left: 300px;
  min-height: 100vh;
 .main-content {
  margin-left: 300px;

  min-height: 100vh;

}
}

.navbar {
  height: 70px;

  background: white;

  border-bottom: 1px solid #e5e7eb;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 25px;

  position: sticky;

  top: 0;

  z-index: 100;
}

.search-box {
  display: flex;

  align-items: center;

  gap: 10px;

  color: #6b7280;

  width: 300px;
}

.search-box input {
  border: none;

  outline: none;

  font-size: 15px;

  width: 100%;

  color: #111827;
}

.search-box input::placeholder {
  color: #9ca3af;
}

.navbar-right {
  display: flex;

  align-items: center;

  gap: 20px;
}

.nav-icon {
  border: none;

  background: transparent;

  cursor: pointer;

  color: #4b5563;

  display: flex;

  align-items: center;

  justify-content: center;

  position: relative;

  width: 40px;

  height: 40px;

  border-radius: 50%;
}

.nav-icon:hover {
  background: #f3f4f6;
}

.notification-dot {
  position: absolute;

  top: 7px;

  right: 7px;

  width: 7px;

  height: 7px;

  background: #ef4444;

  border-radius: 50%;

  border: 2px solid white;
}

.profile-button {
  border: none;

  background: transparent;

  padding: 0;

  cursor: pointer;
}

.profile-button img {
  width: 40px;

  height: 40px;

  border-radius: 50%;

  object-fit: cover;
}

.page-content {
  padding: 30px;
}
.stats-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 24px;

  width: 100%;
}
.stat-card {
  background: #ffffff;

  border: 1px solid #e5e7eb;

  border-radius: 20px;

  padding: 26px;

  min-height: 205px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
}
.stat-card-top {
  display: flex;

  align-items: flex-start;

  justify-content: space-between;
}
.stat-title {
  color: #64748b;

  font-size: 13px;

  font-weight: 600;

  letter-spacing: 0.7px;

  margin-bottom: 18px;
}
.stat-value {
  font-size: 32px;

  font-weight: 500;

  color: #172033;

  margin: 0;
}
.stat-icon {
  width: 62px;

  height: 62px;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  flex-shrink: 0;
}
.stat-bottom {
  display: flex;

  align-items: center;

  gap: 12px;

  margin-top: 35px;
}
.percentage {
  display: flex;

  align-items: center;

  gap: 3px;

  font-size: 14px;

  font-weight: 500;
}

.percentage.up {
  color: #14b8a6;
}

.percentage.down {
  color: #ef4444;
}
.description {
  color: #64748b;

  font-size: 13px;
}
.progress-container {
  width: 100%;

  height: 4px;

  background: #c7c4ff;

  margin-top: 28px;

  overflow: hidden;
}
.progress-bar {
  height: 100%;

  background: #635bff;

  transition: width 0.5s ease;
}
@media (max-width: 1000px) {

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}
@media (max-width: 600px) {

  .stats-grid {
    grid-template-columns: 1fr;
  }

}