.container {
  background-color: red;
  height : 500px ;
  width : 500px;
}


.card {
  border : 1px solid black ;
  border-radius: 3px;
  padding : 4px;

  margin : 9px;

}

  
  


.wrapper {
  color : blue
}

