.container {
  background-color: red;
  height : 500px ;
  width : 500px;
}


.card {
  border : 1px solid black ;
  border-radius: 3px;
  padding : 4px;
  margin : 10px;
<<<<<<< HEAD

}

/* css */
=======
  
}

.wrapper {
  color : blue
}
>>>>>>> db69f353ef2d146de06f884c5da3be08144cce90
